#hero-headline {
  position: relative;
}

.hero-container {
  display: flex;
  max-width: 1440px;
  height: 580px;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 120px;
}

.hero-conteudo {
  display: flex;
  flex-direction: column;

  font-family: 'Sarala', sans-serif;

  max-width: 471px;
  margin-top: 123px;
}

.hero-titulo {
  font-size: 39px;
}

.hero-text {
  font-size: 16px;
  width: 450px;
  padding: 15px 0 35px 0;
  line-height: 160%;
  color: var(--cor-texto-corrido);
}

.botao-hero {
  max-width: 215px;
  padding: 20px 40px;

  text-align: center;

  background-color: var(--azul-principal);
  border-radius: 50px;

  color: var(--branco);
  font-size: 20px;

  transition: 150ms;
}

.botao-hero:hover {
  background-color: #4b56b9;

  transform: scale(1.1);
}

.botao-hero:active {
  background-color: rgb(165, 42, 61);
}

.hero-imagens {
  position: relative;
  width: 815px;
}

.circulo-hero {
  width: 129px;
  position: absolute;
}

.retangulo-hero {
  width: 178px;
  position: absolute;
  right: 120px;
  bottom: 0;
}

.imagem-hero {
  position: absolute;

  /* max-width: 700px; */

  top: 0px;
  right: 0;
}
